@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);




#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-0 .link {
  font-size: 1rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #343e57;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-0 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
}
#custom-html-1 {
  
  
}
#custom-html-1 H1 {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
  font-size: 36px;
}
#custom-html-1 H3 {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
  font-size: 28px;
}
#custom-html-1 P {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#custom-html-1 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
}
#footer1-2 P {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}







#ext_menu-3 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3 .navbar-caption {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-3 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3 .close-icon::before,
#ext_menu-3 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3 .link,
#ext_menu-3 .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#ext_menu-3 .link {
  font-size: 1rem;
}
#ext_menu-3 .dropdown-item,
#ext_menu-3 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-3 .link:hover,
#ext_menu-3 .dropdown-item:hover,
#ext_menu-3 .link:focus,
#ext_menu-3 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-menu {
  background: #343e57;
}
#ext_menu-3 .nav-dropdown-sm .link:focus,
#ext_menu-3 .nav-dropdown-sm .link:hover,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #414e6d!important;
}
#ext_menu-3 .navbar,
#ext_menu-3 .nav-dropdown-sm,
#ext_menu-3 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3 .nav-dropdown-sm .dropdown-menu {
  background: #475577;
}
#ext_menu-3 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3 .bg-color.transparent.opened .link:hover,
#ext_menu-3 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-3 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
}
#msg-box5-5 H3 {
  color: #ffffff;
  font-family: 'Droid Serif', serif;
}
#msg-box5-5 P {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#msg-box5-5 .btn {
  font-size: 13px;
  font-family: 'Droid Sans', sans-serif;
}
#footer1-4 P {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
